WS-ADF-PROYECTO-FINAL-ANGIE-UBAQUE/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WS-ADF-PROYECTO-FINAL-ANGIE-UBAQUE"
		},
		"AKVFile_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-FILE-ANGIE.vault.azure.net/"
		},
		"ls_adls_proyecto_Angie_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsangieubaque.dfs.core.windows.net/"
		},
		"ls_fs_proyectoAngieUbaque_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\data_adf"
		},
		"ls_fs_proyectoAngieUbaque_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Angie"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AKVFile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "mi primer key vault",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKVFile_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/INTEGRATIONRUNTIME-ANGIE-UBAQUE')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_proyecto_Angie')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_proyecto_Angie_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKVFile",
							"type": "LinkedServiceReference"
						},
						"secretName": "KV-adls-angie-ubaque"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKVFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_fs_proyectoAngieUbaque')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_fs_proyectoAngieUbaque_properties_typeProperties_host')]",
					"userId": "[parameters('ls_fs_proyectoAngieUbaque_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKVFile",
							"type": "LinkedServiceReference"
						},
						"secretName": "KV-LOCAL-SERVER-AW"
					}
				},
				"connectVia": {
					"referenceName": "INTEGRATIONRUNTIME-ANGIE-UBAQUE",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/INTEGRATIONRUNTIME-ANGIE-UBAQUE')]",
				"[concat(variables('factoryId'), '/linkedServices/AKVFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CCR_TIME_TRACKER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_fs_proyectoAngieUbaque",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"NOMBRE_ARCHIVO_CCR": {
						"type": "string",
						"defaultValue": "Report_UtilizacionTimeTracker.xlsx"
					}
				},
				"folder": {
					"name": "File System"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Report_ReportTT",
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().NOMBRE_ARCHIVO_CCR",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true,
					"nullValue": "''"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_fs_proyectoAngieUbaque')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DATALAKE_CCR_TIME_TRACKER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Report_UtilizacionTimeTracker.txt",
						"folderPath": "Bronze",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DATALAKE_NOMINA_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "CoE12_Nomina.txt",
						"folderPath": "Bronze",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DATALAKE_PROYECCION_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Proyeccion.txt",
						"folderPath": "Bronze",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NOMINA_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_fs_proyectoAngieUbaque",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"NOMBRE_ARCHIVO_NOMINA": {
						"type": "string",
						"defaultValue": "CoE12_Nomina.xlsx"
					}
				},
				"folder": {
					"name": "File System"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Col",
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().NOMBRE_ARCHIVO_NOMINA",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true,
					"nullValue": "''"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_fs_proyectoAngieUbaque')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NOMINA_PERSONAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Nomina_Personal",
						"folderPath": "Silver",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NOMINA_PROYECTO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Nomina_Proyecto",
						"folderPath": "Silver",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PROYECCION_MENSUAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_fs_proyectoAngieUbaque",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"NOMBRE_ARCHIVO_PROYECCION": {
						"type": "string",
						"defaultValue": "Proyeccion.xlsx"
					}
				},
				"folder": {
					"name": "File System"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Todos",
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().NOMBRE_ARCHIVO_PROYECCION",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_fs_proyectoAngieUbaque')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PROYECCION_VALIDADA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Proyeccion_validada.txt",
						"folderPath": "Silver",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RENTABILIDAD_PROYECTOS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_proyecto_Angie",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure Data Lake Gold"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Rentabilidad_Proyectos.txt",
						"folderPath": "Gold",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_proyecto_Angie')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPYDATA_FILESYSTEM_TO_BRONZE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FILESYSTEM_TO_DATALAKE_NOMINA",
						"description": "Copiar la información del archivo de nomina al datalake capa bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Empresa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Empresa",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nombre Empleado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nombre Empleado",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "User Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "User Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Iniciales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Iniciales",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Número Identificación",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Número Identificación",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tipo Identificacion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tipo Identificacion",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Edad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Edad",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Genero",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Genero",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tipo Contrato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tipo Contrato",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Número Contrato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Número Contrato",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cargo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cargo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fecha Ingreso",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fecha Ingreso",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fecha Inicio Contrato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fecha Inicio Contrato",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fecha Terminación Contrato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fecha Terminación Contrato",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COE Usuario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COE Usuario",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COE Descripción",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COE Descripción",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vp Regional",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vp Regional",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ciudad Trabajo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ciudad Trabajo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nivel Organizacional",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nivel Organizacional",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Seniority",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Seniority",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tipo de remuneración",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tipo de remuneración",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salario Básico",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Salario Básico",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Auxilio de Transporte",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Auxilio de Transporte",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Subsidio Transporte",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subsidio Transporte",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Bonos Sodexo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bonos Sodexo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Auxilio de Vivienda",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Auxilio de Vivienda",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Remuneración",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Remuneración",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CTC",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "CTC",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NOMINA_MENSUAL",
								"type": "DatasetReference",
								"parameters": {
									"NOMBRE_ARCHIVO_NOMINA": {
										"value": "@pipeline().parameters.NOMBRE_ARCHIVO_NOMINA",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DATALAKE_NOMINA_MENSUAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FILESYSTEM_TO_DATALAKE_PROYECCION",
						"description": "Copiar la información del archivo de proyección al datalake capa bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "No.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "No.",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pais Cliente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pais Cliente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pais Facturación",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pais Facturación",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cliente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cliente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RMCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RMCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMOCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMOCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "POU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "POU",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cost Center",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost Center",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Project Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Project Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project Description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Estado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Estado",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rent Base Comercial",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rent Base Comercial",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rent Base Delivery",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rent Base Delivery",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rentabilidad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rentabilidad",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jan",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Feb",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Feb",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Mar",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mar",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Apr",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Apr",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "May",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "May",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jun",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jun",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jul",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jul",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Aug",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Aug",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sep",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Oct",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Oct",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nov",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nov",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Dic",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total H",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total H",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Comentario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Comentario",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_PROYECCION_MENSUAL",
								"type": "DatasetReference",
								"parameters": {
									"NOMBRE_ARCHIVO_PROYECCION": {
										"value": "@pipeline().parameters.NOMBRE_ARCHIVO_PROYECCION",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DATALAKE_PROYECCION_MENSUAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FILESYSTEM_TO_DATALAKE_CCR",
						"description": "Copiar la información del archivo de ccr al datalake capa bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "S/N",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "S/N",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Iniciales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Iniciales",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cedula",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cedula",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nombre Usuario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nombre Usuario",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Centro Costo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Centro Costo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Proyecto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Proyecto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Descripción  Proyecto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Descripción  Proyecto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Utilización",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Utilización",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Días Trabajados",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Días Trabajados",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CH/NCH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CH/NCH",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM1: Proyecto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM1: Proyecto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM2: Centro de Costo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM2: Centro de Costo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM3: Codigo  -LineaNegocio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM3: Codigo  -LineaNegocio",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM4: Codigo - Cliente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM4: Codigo - Cliente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM5: Codigo - Pais",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM5: Codigo - Pais",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DIM6: Producto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DIM6: Producto",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Budgeting Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Budgeting Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Metodología",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Metodología",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Línea Tecnológica",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Línea Tecnológica",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cloud",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cloud",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tipo de Mercado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tipo de Mercado",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Capacidades Requeridas",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Capacidades Requeridas",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Compañia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compañia",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CCR_TIME_TRACKER",
								"type": "DatasetReference",
								"parameters": {
									"NOMBRE_ARCHIVO_CCR": {
										"value": "@pipeline().parameters.NOMBRE_ARCHIVO_CCR",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DATALAKE_CCR_TIME_TRACKER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"NOMBRE_ARCHIVO_NOMINA": {
						"type": "string",
						"defaultValue": "CoE12_Nomina.xlsx"
					},
					"NOMBRE_ARCHIVO_PROYECCION": {
						"type": "string",
						"defaultValue": "Proyeccion.xlsx"
					},
					"NOMBRE_ARCHIVO_CCR": {
						"type": "string",
						"defaultValue": "Report_UtilizacionTimeTracker.xlsx"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-21T18:17:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_NOMINA_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_NOMINA_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_PROYECCION_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_PROYECCION_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_CCR_TIME_TRACKER')]",
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_CCR_TIME_TRACKER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JOIN_CALCULO RENTABILIDAD')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_PROYECCION_VALIDADA",
								"type": "DatasetReference"
							},
							"name": "SOURCEPROYECCIONVALIDADA"
						},
						{
							"dataset": {
								"referenceName": "DS_NOMINA_PROYECTO",
								"type": "DatasetReference"
							},
							"name": "SOURCENOMINAPROYECTO"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_RENTABILIDAD_PROYECTOS",
								"type": "DatasetReference"
							},
							"name": "RentabilidadProyecto"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "Calcularrentabilidad"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {No.} as string,",
						"          {Pais Cliente} as string,",
						"          {Pais Facturación} as string,",
						"          Area as string,",
						"          Cliente as string,",
						"          OPR as string,",
						"          RMCode as string,",
						"          PMOCode as string,",
						"          POU as string,",
						"          {Cost Center} as string,",
						"          {Project Name} as string,",
						"          {Project Description} as string,",
						"          Estado as string,",
						"          {Rent Base Comercial} as boolean,",
						"          {Rent Base Delivery} as boolean,",
						"          Rentabilidad as string,",
						"          Jan as decimal(10,0),",
						"          Feb as decimal(10,0),",
						"          Mar as decimal(10,0),",
						"          Apr as decimal(10,0),",
						"          May as decimal(10,0),",
						"          Jun as decimal(10,0),",
						"          Jul as decimal(10,0),",
						"          Aug as decimal(10,0),",
						"          Sep as decimal(10,0),",
						"          Oct as decimal(10,0),",
						"          Nov as decimal(10,0),",
						"          Dic as decimal(10,0),",
						"          {Total H} as string,",
						"          Comentario as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCEPROYECCIONVALIDADA",
						"source(output(",
						"          Proyecto as string,",
						"          NOMINA as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCENOMINAPROYECTO",
						"SOURCEPROYECCIONVALIDADA, SOURCENOMINAPROYECTO join({Project Name} == Proyecto,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 derive(Rentabilidad = toDecimal(((Aug-NOMINA)/Aug)*100, 10, 2)) ~> Calcularrentabilidad",
						"Calcularrentabilidad sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Rentabilidad_Proyectos.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          {Pais Cliente},",
						"          Area,",
						"          Cliente,",
						"          {Project Name},",
						"          {Project Description},",
						"          Estado,",
						"          Aug,",
						"          NOMINA,",
						"          Rentabilidad,",
						"          Jan,",
						"          Feb,",
						"          Mar,",
						"          Apr,",
						"          May,",
						"          Jun,",
						"          Jul,",
						"          Sep,",
						"          Oct,",
						"          Nov,",
						"          Dic,",
						"          Proyecto",
						"     ),",
						"     partitionBy('hash', 1)) ~> RentabilidadProyecto"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PROYECCION_VALIDADA')]",
				"[concat(variables('factoryId'), '/datasets/DS_NOMINA_PROYECTO')]",
				"[concat(variables('factoryId'), '/datasets/DS_RENTABILIDAD_PROYECTOS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JOIN_NOMINA')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_DATALAKE_NOMINA_MENSUAL",
								"type": "DatasetReference"
							},
							"name": "SOURCENOMINA"
						},
						{
							"dataset": {
								"referenceName": "DS_DATALAKE_CCR_TIME_TRACKER",
								"type": "DatasetReference"
							},
							"name": "SOURCECCR"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_NOMINA_PERSONAL",
								"type": "DatasetReference"
							},
							"name": "NOMINAPERSONAL"
						},
						{
							"dataset": {
								"referenceName": "DS_NOMINA_PROYECTO",
								"type": "DatasetReference"
							},
							"name": "NOMINAPROYECTO"
						}
					],
					"transformations": [
						{
							"name": "JNNOMINAXCCR"
						},
						{
							"name": "CALCULARSUELDO"
						},
						{
							"name": "CALCULARNOMINAPROYECTO"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Empresa as string,",
						"          {Nombre Empleado} as string,",
						"          {User Name} as string,",
						"          Iniciales as string,",
						"          {Número Identificación} as long,",
						"          {Tipo Identificacion} as string,",
						"          Edad as short,",
						"          Genero as string,",
						"          {Tipo Contrato} as string,",
						"          {Número Contrato} as short,",
						"          Cargo as string,",
						"          {Fecha Ingreso} as date,",
						"          {Fecha Inicio Contrato} as date,",
						"          {Fecha Terminación Contrato} as string,",
						"          {COE Usuario} as string,",
						"          {COE Descripción} as string,",
						"          {Vp Regional} as string,",
						"          {Ciudad Trabajo} as string,",
						"          {Nivel Organizacional} as string,",
						"          Seniority as string,",
						"          {Tipo de remuneración} as string,",
						"          {Salario Básico} as string,",
						"          {Auxilio de Transporte} as string,",
						"          {Subsidio Transporte} as string,",
						"          {Bonos Sodexo} as integer,",
						"          {Auxilio de Vivienda} as short,",
						"          {Total Remuneración} as integer,",
						"          CTC as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCENOMINA",
						"source(output(",
						"          {S/N} as short,",
						"          OPR as string,",
						"          DM as string,",
						"          PMO as string,",
						"          Iniciales as string,",
						"          Cedula as string,",
						"          {Nombre Usuario} as string,",
						"          {Centro Costo} as string,",
						"          Proyecto as string,",
						"          {Descripción  Proyecto} as string,",
						"          {Utilización} as string,",
						"          {Días Trabajados} as string,",
						"          {CH/NCH} as string,",
						"          {DIM1: Proyecto} as string,",
						"          {DIM2: Centro de Costo} as string,",
						"          {DIM3: Codigo  -LineaNegocio} as string,",
						"          {DIM4: Codigo - Cliente} as string,",
						"          {DIM5: Codigo - Pais} as string,",
						"          {DIM6: Producto} as string,",
						"          {Budgeting Model} as string,",
						"          {Metodología} as string,",
						"          {Línea Tecnológica} as string,",
						"          Cloud as string,",
						"          {Tipo de Mercado} as string,",
						"          {Capacidades Requeridas} as string,",
						"          {Compañia} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCECCR",
						"SOURCENOMINA, SOURCECCR join(SOURCENOMINA@Iniciales == SOURCECCR@Iniciales,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JNNOMINAXCCR",
						"JNNOMINAXCCR derive(SUELDO_CALCULADO = toDecimal(((CTC*toDecimal(replace({Utilización},',','.'),10,2))/100),15,2)) ~> CALCULARSUELDO",
						"CALCULARSUELDO aggregate(groupBy(Proyecto),",
						"     NOMINA = sum(SUELDO_CALCULADO)) ~> CALCULARNOMINAPROYECTO",
						"CALCULARSUELDO sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Nomina_Personal'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> NOMINAPERSONAL",
						"CALCULARNOMINAPROYECTO sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Nomina_Proyecto'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> NOMINAPROYECTO"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_NOMINA_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_CCR_TIME_TRACKER')]",
				"[concat(variables('factoryId'), '/datasets/DS_NOMINA_PERSONAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_NOMINA_PROYECTO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BRONZE_TO_SILVER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DATA_FLOW_RULES",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "JOIN_NOMINA",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SOURCENOMINA": {},
									"SOURCECCR": {},
									"NOMINAPERSONAL": {},
									"NOMINAPROYECTO": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "COPY_PROYECCION_TO_SILVER",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "No.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "No.",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pais Cliente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pais Cliente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pais Facturación",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pais Facturación",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cliente",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cliente",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OPR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RMCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RMCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PMOCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PMOCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "POU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "POU",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cost Center",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost Center",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Project Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Project Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project Description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Estado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Estado",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rent Base Comercial",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rent Base Comercial",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rent Base Delivery",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rent Base Delivery",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rentabilidad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rentabilidad",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Feb",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Feb",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Mar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mar",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Apr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Apr",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "May",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "May",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jun",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jun",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Jul",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Jul",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Aug",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Aug",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Oct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Oct",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nov",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nov",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Dic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total H",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total H",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Comentario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Comentario",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DATALAKE_PROYECCION_MENSUAL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_PROYECCION_VALIDADA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/JOIN_NOMINA')]",
				"[concat(variables('factoryId'), '/datasets/DS_DATALAKE_PROYECCION_MENSUAL')]",
				"[concat(variables('factoryId'), '/datasets/DS_PROYECCION_VALIDADA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SILVER_TO_GOLD_RENTABILIDAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataFlowRentabilidad",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "JOIN_CALCULO RENTABILIDAD",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SOURCEPROYECCIONVALIDADA": {},
									"SOURCENOMINAPROYECTO": {},
									"RentabilidadProyecto": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/JOIN_CALCULO RENTABILIDAD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MAESTRO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_BRONZE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_COPYDATA_FILESYSTEM_TO_BRONZE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"NOMBRE_ARCHIVO_NOMINA": {
									"value": "@pipeline().parameters.NOMBRE_ARCHIVO_NOMINA",
									"type": "Expression"
								},
								"NOMBRE_ARCHIVO_PROYECCION": {
									"value": "@pipeline().parameters.NOMBRE_ARCHIVO_PROYECCION",
									"type": "Expression"
								},
								"NOMBRE_ARCHIVO_CCR": {
									"value": "@pipeline().parameters.NOMBRE_ARCHIVO_CCR",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PL_SILVER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_BRONZE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BRONZE_TO_SILVER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_GOLD",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_SILVER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SILVER_TO_GOLD_RENTABILIDAD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"NOMBRE_ARCHIVO_NOMINA": {
						"type": "string",
						"defaultValue": "CoE12_Nomina.xlsx"
					},
					"NOMBRE_ARCHIVO_PROYECCION": {
						"type": "string",
						"defaultValue": "CoE12_Nomina.xlsx"
					},
					"NOMBRE_ARCHIVO_CCR": {
						"type": "string",
						"defaultValue": "Report_UtilizacionTimeTracker.xlsx"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_COPYDATA_FILESYSTEM_TO_BRONZE')]",
				"[concat(variables('factoryId'), '/pipelines/PL_BRONZE_TO_SILVER')]",
				"[concat(variables('factoryId'), '/pipelines/PL_SILVER_TO_GOLD_RENTABILIDAD')]"
			]
		}
	]
}